html, body {
  margin: 0;
  height: 100%;
  /* overflow: hidden; */
  font-family: sans-serif;
}

.animated-bg {
  position: fixed;
  inset: 0;
  background: linear-gradient(
    120deg, 
    #111114 0%, 
    #1b1536 10%, 
    #0b3b2b 20%, 
    #1b1536 40%, 
    #0b3b2b 50%, 
    #1b1536 70%, 
    #0b3b2b 80%, 
    #111114 90%, 
    #1b1536 100%
  );
  background-size: 400% 400%;
  animation: gradientMove 20s ease infinite;
  z-index: -1;
  /* overscroll-behavior: contain; */
}

@keyframes gradientMove {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.content {
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 2px;
}

/* header */
header {
    /* background: #000; */
    border-radius: 22px;
    padding: 5px 40px;
    margin: 0;
}

header a {
    color: #ffffff !important;
    font-family:'IBM Plex Serif' !important;
    text-decoration: none;
}
header a:hover {
    color: #0077cc !important;
}
.logo a{
    font-size: 24px;
}

a.nav-link {
    font-size: 22px !important;
    white-space: nowrap;;
}
button.nav-btn {
    border-radius: 22px;
    background: transparent;
    color: #ffffff;
    border: solid 1px #fff;
    margin: 10px 2px;
    padding: 2px 5px;
}
button.nav-btn:hover {
    background: #0077cc;
}
/* resp header */
.navbar-toggler {
  border-color: rgba(255,255,255,0.6);
}

.navbar-toggler-icon {
  filter: invert(1);
}
.offcanvas.show {
  background: linear-gradient(180deg, #0d1b2a, #1b263b);
  max-width: 40vw;
  min-width: max-content;
  padding: 10px 20px;
  border-radius: 25px 0 0 25px;
}
.btn-close  {
    filter: invert(1);
}

@media (max-width:568px) {
  header {
    padding: 5px 20px;
  }
}

/* home */
#home {
  color: #ffffff;
  display: flex;
}
h1.name {
  font-family: 'IBM Plex Serif' ;
  font-weight: 800;
  font-size: 48pt;
  text-align: center;
  margin: 20px 0;
  
  background: linear-gradient(90deg, #7c3aed 3.85%, green 40.38%, blue 62.5%, crimson 80.77%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
p.sh-des {
  font-family: 'IBM Plex Serif' ;
  font-size: 24px;
  text-align: center;
  font-weight: 700;
}
.home-btn {
  display: flex;
  justify-self: center;
  gap: 50px;
  margin: 50px 0;
}
a.button {
  text-decoration: none;
  color: #ffffff;
  background: conic-gradient(from 180deg at 50% 50%, green -51.92deg, blue 143.65deg, green 308.08deg, blue 503.65deg);
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
  transition: transform 1.2s ease, background 0.3s ease;
}
a.button:hover {
  transform : translate(2px, 7px) scale(1.1);
  background: conic-gradient(from 180deg at 50% 50%, blue -51.92deg, green 143.65deg, blue 308.08deg, green 503.65deg);
}

@media (min-width:1100px) {
  #home {
    padding: 50px;
    max-width: 1000px;
    gap: 100px;
    justify-self: center;
  }
}

@media (max-width:1100px) {
  #home {
    flex-direction: column;
    padding: 30px;
  }
  .home-2 {
    text-align: center;
  }
}
@media (max-width:568px) {
  #home {
    padding: 30px 15px;
  }
}

/* about */
#about {
  padding: 20px;
}
h1.s-title {
  font-family: 'IBM Plex Serif' ;
  font-weight: 800;
  font-size: 48pt;
  text-align: center;
  margin: 20px 0;
  text-align: center;
  color: #ffffff;
  
  /* background: linear-gradient(90deg, #7c3aed 3.85%, green 40.38%, blue 62.5%, crimson 80.77%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent; */
}
#about .pg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#about p {
  color: #ddd;
  justify-self: flex-start;
  text-align: start;
  font-size: 20px;
  letter-spacing: -0.005em;
  justify-self: center;
  line-height: 145%;
  max-width: 800px;
  display: flex;
}
#about .start p {
  justify-self: flex-start;
  align-items: center;
}
#about .middle p {
  justify-self: end;
  align-items: center;
}
#about .end p {
  justify-self: center;
  align-items: center;
}
div.img {
  display: flex;
  text-align: center;
  padding: 10px;
}
div.img img {
  align-self: center;
  border: #0077cc;
  max-width: 300px;
  animation: rotation 8s linear infinite;
}
div.img img:hover {
  cursor: pointer;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width:1200px) {
  #about {
    padding: 50px;
  }
}
@media (max-width:768px) {
  #about .start {
    flex-direction: column;
  }
  #about .middle {
    flex-direction: column-reverse;
    justify-content: space-around;
    text-align: center;
  }

  div.img {
    align-self: center;
  }
}

/* projects */
#projects {
  padding: 50px;
  margin: 50px;
  background: rgb(7 89 133 / 0.1);
}
#projects .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

#projects .card {
  border-radius: 16px 16px;
  padding: 0;
  background: rgb(8 47 73 / 0.25);
  max-width: 300px;
  transition: transform ease 0.3s;
  margin: 0 10px;
}
#projects .card:hover {
  transform : translate(7px, 7px) scale(1.15);
}
.card.proj img {
  border-radius: 16px;
  min-height: 190px;
  max-height: 210px;
  cursor: pointer;
}
.card .c-text {
  color: #ffffff;
  padding: 10px;
}
.c-text h3 {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}
.c-text p {
  color: #ddd;
}
.c-under {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
.c-under a {
  text-decoration: none;
}
a.web {color: green; font-weight: 600;}
a.gi {color: #0077cc;}
a.det {color: #fff;}
a.web:hover {color: rgb(8, 81, 8); font-weight: 600;}
a.gi:hover {color: #0077cc52;}
a.det:hover {color: #ffffffca;}

@media (max-width:1000px) {
  #projects {
    padding: 20px;
    margin: 30px;
  }
}
@media (max-width:768px) {
  #projects {
    padding: 10px;
    margin: 20px;
  }
}
@media (max-width:625px) {
  #projects {
    padding: 10px;
    margin: 10px;
  }
  h1.s-title {
    font-size: 29pt;
  }
}
@media (max-width:570px) {
  #projects .card {
    justify-self: center;
  }
}

/* chevron */
.chevron {
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  animation: transform 0.3s ease;
}
.chevron.left:hover {
    transform: translate(-4px, -4px) scale(1.2);
}
.chevron.right:hover {
    transform: translate(3px, 3px) scale(1.5);
}

.chevron svg {
    width: 100px;
    height: 100px;
}


@media (max-width:769px) {
    .chevron svg {
        width: 60px;
        height: 60px;
    }
}
@media (max-width:640px) {
  .chevron svg {
    width: 40px;
    height: 40px;
  }
}
/* project popup */
/* .overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
} */

.project-detail {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  /* padding: 30px; */
  justify-content: center;

  background: #ffffff67;
  /* padding: 2rem; */
  border-radius: 12px;
  max-width: 1200px;
  width: 90%;
  box-shadow: 0 30px 80px rgba(0,0,0,0.4);  

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  margin: 0;
  overflow-y: auto;
  /* overscroll-behavior: contain; */
}
.project-detail.show {
  display: flex;
}
.folio.content.hide-root::after {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  z-index: 1000;
  cursor: pointer;
}
.projects-subcontent {
  background: #ffffff67;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-self: center;
  overflow-y: auto;
  max-height: 99vh;
  /* overflow-x: hidden; */
  width: 100%;
  /* overscroll-behavior: contain; */
}

.project-content {
  background: #bf171767;
  display: flex;
  flex-direction: row;
  color: #ffffff;
  font-size: 16px;
  /* max-width: 900px; */
  gap: 20px;
  background: rgb(8 47 73 / 0.5);
  border-radius: 20px;
  padding: 5px;
}

.project-image {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.project-thumbs {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.project-main img {
  border-radius: 12px;
  max-width: 400px;
  cursor: pointer;
}
.project-thumbs img {
  border-radius: 5px;
  max-width: 80px;
  cursor: pointer;
}
.project-text {
  padding: 20px 0;
  line-height: 1.8;
}
.project-text h3 {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
}
.project-text svg {color: #0077cc;}
.project-tools {
  display: flex;
  gap: 10px;
}
.project-text span {
  background: rgb(8 47 73);
  padding: 5px 10px;
  border-radius: 12px;
}
.project-action {
  margin: 20px 0;
  display: flex;
  justify-content: space-evenly;
}
.project-action a {
  text-decoration: none;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 16px;
  animation: transform 0.3s ease;
}
.project-action a.act-web {
  background: #0077cc;
}
.project-action a.act-git {
  background: #0b3b2b;
}
.project-action a.act-web:hover {
  background: #0077ccdc;
  transform: scale(1.2);
}
.project-action a.act-git:hover {
  background: #0b3b2b9a;
  transform: scale(1.2);
}

@media (max-width:1200px) {
  .project-content {
    flex-direction: column;
    text-align: center;
    max-width: 600px;
    padding: 10px 30px;
  }
  .project-tools {
    text-align: center;
  }
  .project-main {
    max-width: none;
  }

}


/* footer */
footer {
    background: #0f1724 !important;
    color: #fff;
    text-align: center;
    padding: 10px;
}